<!DOCTYPE html>
<html>
  <head>
    <title>Create Users</title>
  </head>
  <body>
    <h1>Create Users</h1>
    <form action="/usuarios" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
        <br>
      <input type="submit" value="Create User">
    </form>
    <div>
        <ul>
            {% for user in usuarios %}
                <li>{{ user.name }}</li>
            {% endfor %}
        </ul>
    </div>
  </body>
</html>
