{% macro lista_users(usuarios) %}

    <ul>
        {% for user in usuarios %}
            <li>{{ user.name }} : <a href="{{ url_for('get_user', id=user._id)}}">Detalle</a></li>
        {% endfor %}
    </ul>

{% endmacro %}